S3method(as.data.frame,Isosys)
export(abundance)
export(as.abundance)
export(as.delta)
export(as.ratio)
export(intensity)
export(is.abundance)
export(is.delta)
export(is.intensity)
export(is.iso)
export(is.isosys)
export(is.isoval)
export(is.ratio)
export(iso)
export(label)
export(name)
export(ratio)
export(unit)
exportMethods("+")
