S3method(as.data.frame,Isosys)
export(abundance)
export(alpha)
export(as.abundance)
export(as.alpha)
export(as.delta)
export(as.epsilon)
export(as.ratio)
export(as.value)
export(as.weight)
export(as.weighted_value)
export(delta)
export(epsilon)
export(exact_mass_balance)
export(fractionate)
export(get_standards)
export(intensity)
export(is.abundance)
export(is.delta)
export(is.intensity)
export(is.iso)
export(is.isosys)
export(is.isoval)
export(is.ratio)
export(is.weighted)
export(label)
export(mass_balance)
export(name)
export(ratio)
export(register_standard)
export(shift_reference)
export(unit)
export(use_permil)
export(weight)
